@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: zilla;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #f3d8ac;
}

@font-face {
  font-family: sarina;
  src: url(../fonts/Sarina-Regular.ttf);
}

@font-face {
  font-family: zilla;
  src: url(../fonts/ZillaSlab-Light.ttf);
}

@font-face {
  font-family: molle;
  src: url(../fonts/Molle-Italic.ttf);
}

/* FONT CLASSES*/

.sarina {
  font-family: sarina;
}

.zilla {
  font-family: zilla;
}

.molle {
  font-family: molle;
}

/* CUSTOM COLOR CLASSES */

.grn {
  color: #476b40;
}

.bg-grn {
  background-color: #476b40;
}

.offwhite {
  color: #fffaf9;
}

.bg-offwhite {
  background-color: #fffaf9;
}

.salmon {
  color: #fd874f;
}

.bg-salmon {
  background-color: #fd874f;
}

.sndy {
  color: #f3d8ac;
}

.bg-sndy {
  background-color: #f3d8ac;
}

button:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
}

input {
  outline: none;
  text-align: center;
}

input::placeholder {
  color: #476b40;
  text-align: center;
}

input:focus::placeholder{
  color: transparent;
}


/* footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
} */


.coverPhoto{
  /* z-index: -1; */
  width: 85vw;
  max-height: 75vh;
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 50%;
  /* height: device-height; */
  pointer-events: none;
  background-color: #282c34;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  
}

.insta{
    height: 1.5rem;
    pointer-events: none;
    margin-right: .5rem
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #fffaf9;
  color: #476b40;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: #fd874f solid 3px;
  text-align: left;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  /* background-color: #ebebeb; */
  /* border: #fd874f solid 3px; */
  border: #476b40 solid 3px;
  
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.bg-photo {
  background-image: url(/public/images/poundcake.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-photo-po {
  background-image: url(/public/images/poboxes.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.newsletter-form{
background: rgba(192,
  192,
  192,
  0.8)
}