@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: sarina;
  src: url(../fonts/Sarina-Regular.ttf);
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
}


button:hover {
  transform: scale(0.9);
  transition: all ease 500ms;
}

.sarina {
  font-family: sarina;
}

.coverPhoto{
  /* z-index: -1; */
  /* background-image: url("../../../public/images/cabin.jpg"); */
  width: 50%;
  height: 50%;
  pointer-events: none;
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.insta{
    height: 5vmin;
    pointer-events: none;
}

