@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: sarina;
  src: url(../fonts/Sarina-Regular.ttf);
}

@font-face {
  font-family: zilla;
  src: url(../fonts/ZillaSlab-Light.ttf);
}

@font-face {
  font-family: molle;
  src: url(../fonts/Molle-Italic.ttf);
}

body {
  margin: 0;
  font-family: zilla;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #f3d8ac;
}


button:hover {
  transform: scale(0.9);
  transition: all ease 500ms;
}

html {
  scroll-behavior: smooth;
}

.sarina {
  font-family: sarina;
}

.zilla {
  font-family: zilla;
}

.molle {
  font-family: molle;
}

.coverPhoto{
  /* z-index: -1; */
  width: 50vw;
  /* height: device-height; */
  pointer-events: none;
  background-color: #282c34;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.insta{
    height: 5vmin;
    pointer-events: none;
}

.grn{
color: #476b40;
}

.bg-grn{
background-color: #476b40;
}

.offwhite{
color: #fffaf9;
}

.bg-offwhite{
background-color: #fffaf9;
}

.salmon{
color: #fd874f;
}

.bg-salmon{
background-color: #fd874f;
}

.sndy{
  color: #f3d8ac;
}

.bg-sndy{
  background-color: #f3d8ac;
} 

